# Gitignore, whitelist style
# https://www.howtogeek.com/devops/how-to-set-up-gitignore-as-a-whitelist/
*
!*/
!.gitignore
!ghostty/**
!lazygit/**
!nvim/**
!tmux/tmux.conf.local
tmux/plugins
**/.claude/settings.local.json

